<span id="paypalContainer" onClick="javascript:paypal.use"></span>
<script src="https://www.paypalobjects.com/js/external/api.js"></script>
<script>
paypal.use( ["login"], function(login) {
  login.render ({
    "appid": "{{ homepage_config.client_id }}",
    {% if homepage_config.is_sandbox %}
    "authend": "sandbox",
    {% endif %}
    "scopes": "{{ homepage_config.scopes }}",
    "containerid": "paypalContainer",
    "locale": "en-us",
    "returnurl": "{{ homepage_config.base_url }}"
  });
});
</script>
